.loginWrap {
    background: url(../../../assets/images/login.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 15rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}