.footer {
    background: #000;
    height: 90px;
    text-align: center;
    color: #fff;
    // position: absolute;
    padding-top: 30px;
    height: 90px;
    // width: 100%;
    bottom: 0;
    
}