.cardWrap {
    display: flex;
    flex-flow:column wrap;
    width: 100%;
    margin-bottom:60px;
    align-items: center;
    justify-content: center;
    
    .createBtn {
        width: 100%;
        max-width: 800px;
        text-align: end;
    }

    .card {
        flex-grow:1;
        flex-shrink:1;
        margin:10px;
        width: 100%;
        margin-bottom: 25px;
        max-width: 800px;

        .titleWrap {
            display: flex;
            border-bottom: 1px solid rgba(0,0,0,.2);
            margin-bottom: 20px;
            padding-bottom: 20px;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;

            .infoWrap{
                margin-top: 20px;
                margin-left: 12px;
                word-break: break-all;

                .username {
                  font-size: 14px;
                  padding-left: 10px;
                }
            }
            .date{
                margin-left: auto;
                width: 150px;
                text-align: right;
                padding-right: 15px;
                padding-top: 22px;
                min-width: 150px;
                opacity: .5;
            }
        }
        .textElipse {
            flex:1;
            overflow: hidden;
            font-size:13px;
            text-overflow: ellipsis;
            width: 600px;
            white-space: nowrap;
        }
        .cardActions {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;

            .iconSize {
                font-size:20px
            }
        }
    }

    .paginationWrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
}
