.ck-editor__editable {
    // min-height: 400px !important;
    border: 1px solid rgba(0,0,0, .2) !important;
    border-top: none !important;
    border-right: 0 !important;
    border-left : 0 !important;
}


.ck-editor__top {
    display: none !important;
}
.ck-toolbar {
    display: block !important;
    font-size: 6px !important;
}

.ck-widget {
    outline-color: white !important;
}

.ck-content {
    .image {
        outline-color: white !important;
        figcaption {
            display: none !important;
        }
    }

} 