@import 'globalStyles';

.questionList{
    display: flex;
    // margin: 40px 20px 0 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    .tableWrap {
        width: 100%;
        margin: 20px;
        max-width: 900px;
        .listWrap {
            flex-direction: row;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 30px;
        }
    }

    .paginationWrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .imageContainer {
        border-bottom: 1px solid rgba(0,0,0,.3);
        margin-bottom: 80px;
        width: 100%;
        position: relative;
        text-align: center;

        .imageWrap {
            background: rgba(10,17,12,.2);

            .headerImage {
                background: url(../../../assets/images/question_top.jpg);
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center 88%;
                height: 400px;
                z-index: -99;
                overflow: hidden;
            }
        }

        .imageCaption {
            position: absolute;
            top: 40%;
            left: 45%;
        }
    }
}








